/* Account Management  */
.main .content .body {
    margin-top: 40px;
}

.main .content .body .body-content{
    background-color: #FFFFFF;
    padding:20px 30px;
    border-radius: 5px;
}

.main .content .body .body-content.dark{
    background-color: #3A434E; 
    transition: 0.2s all ease;
}

.main .content .body .body-content .first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .content .body .body-content .first .add-account {
    background-color: #fa5c7c;
    border-radius: 4px;
    padding: 7px 15px;
    box-shadow: 0 2px 6px 0px rgba(251,116,144, .5);
    border: 1px solid #fa5c7c;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    text-decoration: none;
}

.main .content .body .body-content .first .add-account:hover{
    background-color: #ea6882;
    transition: 0.5s all ease;
    cursor: pointer;
}


.main .content .body .body-content .first .add-account span{
    font-size: 13px;
    margin-right: 10px;
}

.main .content .body .body-content .first .add-account .text{
    font-size: 15px;
}

/* Search Input */
.main .content .body .body-content .first .search-input form{
    display: flex;
    align-items: center;
}

.main .content .body .body-content .first .search-input form span {
    padding:5.8px;
    padding-left:13px;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
    background-color: #EFF2F7;
    font-size: 16px;
    color:#949BA2;
    text-align: center;
}

.main .content .body .body-content .first .search-input input[name="search"]{
    height:31.2px;
    outline: none;
    border: none;
    background-color: #EFF2F7;
    width:auto;
}

.main .content .body .body-content .first .search-input form .search-button {
    background-color: #0acf97;
    color:#FFFFFF;
    border: none;
    outline: none;
    padding:8.6px 20px;
    flex: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main .content .body .body-content .first .search-input .search-button:hover{
    background-color: #09bf8c;
    transition: 0.5s all ease;
}
/* End Search Input */

/* Table */
.main .content .body .body-content .second{
    margin-top: 20px;
}

.main .content .body .body-content .second table {
    width:100%;
    border-collapse: collapse;
}

.main .content .body .body-content .second table tr th {
    text-align: center;
    padding:15px 0;
    background-color: #EFF2F7;
}

.main .content .body .body-content .second table thead:hover {
    background-color: #91969e;
    transition: 0.5s all ease;
    cursor: pointer;
}

.main .content .body .body-content .second table tr th:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main .content .body .body-content .second table tr th:nth-child(2){
    padding-left:25px;
}

.main .content .body .body-content .second table tr th:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.main .content .body .body-content .second table tr td {
    text-align: center;
    padding:15px;
}

.main .content .body .body-content .second table tr td .employee {
    display: flex;
    align-items: center;
    justify-content: center;
}


.main .content .body .body-content .second table tr td .employee img {
    width:30px;
    height:30px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 10px;
}

.main .content .body .body-content .second table tr td .employee .name{
    color:#90979E;
    cursor: pointer;
}

.main .content .body .body-content .second table tr td .mail {
    color:#90979E;
}

.main .content .body .body-content .second table tr td .status {
    border-radius: 5px;
    color:white;
    border:none;
    background-color: #18f373;
    padding:4px 15px;
    outline: none;
}

.main .content .body .body-content .second table tr td .status:hover{
    background-color: #1cda6b;
    transition: 0.5s all ease;
    cursor: pointer;

}

.main .content .body .body-content .second table tr td .manage {
    border-radius: 5px;
    color:white;
    border:none;
    background-color: rgb(224, 11, 18);
    padding:4px 15px;
    outline: none;
}

.main .content .body .body-content .second table tr td .manage:hover{
    background-color: rgb(196, 28, 33);
    transition: 0.5s all ease;
    cursor: pointer;
}

.main .content .body .body-content .second table tr td .manage.active {
    background-color: #18f373;
}

.main .content .body .body-content .second table tr td .manage.active:hover {
    background-color: #1cda6b;
}

.main .content .body .body-content .second table tr td .resend {
    border-radius: 5px;
    color:white;
    border:none;
    background-color: rgb(12, 113, 230);
    padding:4px 15px;
    outline: none;
}

.main .content .body .body-content .second table tr td .resend:hover{
    background-color: rgb(30, 108, 198);
    transition: 0.5s all ease;
    cursor: pointer;
}

.main .content .body .body-content .second table tr td .view {
    border-radius: 5px;
    color:white;
    border:none;
    background-color: rgb(231, 234, 15);
    padding:4px 15px;
    outline: none;
}

.main .content .body .body-content .second table tr td .view:hover{
    background-color: rgb(200, 203, 29);
    transition: 0.5s all ease;
    cursor: pointer;
}

.main .content .body .body-content .second table tr td .action{
    display:flex;
    align-items: center;
    justify-content: center;
    color:#90979E;
}

.main .content .body .body-content .second table tr td .action .view-employee:hover {
    color:#7A83F5;
    transition:0.2s all ease;
    cursor: pointer;
}   

.main .content .body .body-content .second table tr td .action .view-employee.dark:hover{
    color: #a8bfdb;
    transition: 0.5s all ease;
}

.main .content .body .body-content .second table tr td .action .update-employee:hover {
    color:#7A83F5;
    transition:0.2s all ease;
    cursor: pointer;
}   

.main .content .body .body-content .second table tr td .action .update-employee.dark:hover{
    color: #a8bfdb;
    transition: 0.5s all ease;
}

.main .content .body .body-content .second table tr td .action .delete-employee:hover {
    color:#7A83F5;
    transition:0.2s all ease;
    cursor: pointer;
}   

.main .content .body .body-content .second table tr td .action .delete-employee.dark:hover{
    color: #a8bfdb;
    transition: 0.5s all ease;
}

.main .content .body .body-content .second table tr td .action .update-employee{
    padding-left: 7px;
    padding-right: 7px;
}
/* End Table */

/* Account Update */
.main .content .body {
    margin-top: 40px;
}

.main .content .body .employee-update {
    background-color: #FFFFFF;
    padding:20px 30px;
    border-radius: 5px;
    display:block;
    margin:0 auto;
    width:50%;
}

.main .content .body .employee-update.dark{
    background-color: #3A434E; 
    transition: 0.2s all ease;
}

.main .content .body .employee-update .employee-title{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color:#313A46;
    margin-bottom: 30px;
}

.main .content .body .employee-update .employee-info .content {
    display: flex;
    align-items: center;
}

.main .content .body .employee-update .employee-info .content .placeholder {
    color: #313A46;
    font-size: 18px;
    margin-right: 10px;
}

.main .content .body .employee-update .employee-info .content .text {
    color: #90979E;
    font-size: 18px;
}

.main .content .body .employee-update .employee-info .avatar .update{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main .content .body .employee-update .employee-info .avatar .update .placeholder {
    color: #313A46;
    font-size: 18px;
    margin-right: 10px;
}

.main .content .body .employee-update .employee-info .avatar .update .update-button {
    padding: 0px 20px;
    color:white;
    background-color:#fa5c7c;
}

.main .content .body .employee-update .employee-info .avatar .update .update-button:hover{
    cursor: pointer;
    background-color: #ea6882;
    transition: 0.5s all ease;
}

.main .content .body .employee-update .employee-info .avatar .pic {
    margin-top: 10px;
}

.main .content .body .employee-update .employee-info .avatar .pic img{
    aspect-ratio: 4/3;
    object-fit: cover;
    height: auto;
    max-width:100%;
}

.main .content .body .employee-update .employee-info .back {
    padding:10px 20px;
    border:none;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #18f373;
    color:white;
}

.main .content .body .employee-update .employee-info .back:hover{
    background-color: #1cda6b;
    transition: 0.5s all ease;
}
/* End Account Update */

/* End Account Management */

/* Resonsive  */
@media all and (max-width:1199.98px){
    .main .content .body .body-content .second table tr th {
        font-size: 14px;
    }

    .main .content .body .body-content .second table tr td {
        font-size: 13px;
    }

    .main .content .body .body-content .second table tr th:nth-child(1) {
        padding-left: 15px;
    }
}

@media all and (max-width:991.98px){
    .main .content .body .body-content .second table tr th:nth-child(4) {
        display: none;
    }

    .main .content .body .body-content .second table tr td:nth-child(4) {
        display: none;
    }
}
@media all and (max-width:767.98px){
    .container {
        max-width: 720px;
    }

    .main .content .body .body-content .second table tr th:nth-child(3) {
        display: none;
    }

    .main .content .body .body-content .second table tr td:nth-child(3) {
        display: none;
    }
}
@media (max-width:575.98px){
    .main .content .body .body-content .first {
        flex-wrap: wrap;
    }

    .main .content .body .body-content .second table tr th:nth-child(5) {
        display: none;
    }

    .main .content .body .body-content .second table tr td:nth-child(5) {
        display: none;
    }

    @media (max-width:509px){
        .main .content .body .body-content .first .add-account {
            margin-bottom: 10px;
        }
    }
}

/* End Responsive */