/* Account Detail */
.main .content .body {
    margin-top: 40px;
}

.main .content .body .employee-detail {
    background-color: #FFFFFF;
    padding:20px 30px;
    border-radius: 5px;
    display:block;
    margin:0 auto;
    width:50%;
}

.main .content .body .employee-detail.dark{
    background-color: #3A434E; 
    transition: 0.2s all ease;
}

.main .content .body .employee-detail .employee-title{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color:#313A46;
    margin-bottom: 30px;
}

.main .content .body .employee-detail .employee-info .content {
    display: flex;
    align-items: center;
}

.main .content .body .employee-detail .employee-info .content .placeholder {
    color: #313A46;
    font-size: 18px;
    margin-right: 10px;
}

.main .content .body .employee-detail .employee-info .content .text {
    color: #90979E;
    font-size: 18px;
}

.main .content .body .employee-detail .employee-info .avatar .placeholder {
    color: #313A46;
    font-size: 18px;
    margin-right: 10px;
}

.main .content .body .employee-detail .employee-info .avatar .pic {
    margin-top: 10px;
}

.main .content .body .employee-detail .employee-info .avatar .pic img{
    aspect-ratio: 4/3;
    object-fit: cover;
    height: auto;
    width:100%;
}

.main .content .body .employee-detail .employee-info .back {
    padding:10px 20px;
    border:none;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #18f373;
    color:white;
}

.main .content .body .employee-detail .employee-info .back:hover{
    background-color: #1cda6b;
    transition: 0.5s all ease;
}
/* End Account Detail */