.notify {
    color: rgba(186, 20, 20, 0.744); 
    background-color: #f3a7a7; 
    border-radius:10px;
    padding: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    right:0;
    top:5px;
    margin-top: 15px;
}

.notify.hide {
    display: none;
}

.notify .delete-icon {
    width:3px;
    height:3px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border-radius: 50px;
    background-color: #FFFFFF;
}

.notify .delete-icon:hover {
    cursor: pointer;
}

.login {
    margin:0 auto;
    display: block;
    background-color: #FFFFFF;
    width:40%;
    margin-top: 5%;
    border-radius: 20px;
}

.login .container {
    padding:0;
}

.login .first-content {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #008C91;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login .first-content .image {
    width:100px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    background-color: #313A46;
    border-radius: 100%;
    margin-top: 20px;
}

.login .first-content .image img {
    width:80px;
    object-fit: cover;
}

.login .first-content .title {
    margin-top: 15px;
    color:white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.login form {
    padding:55px;
    text-align: center;
}

.login form input[name="username"] {
    border-radius: 50px;
    outline:none;
    padding:10px;
    width:95%;
    margin-bottom: 25px;
}

.login form input[name="password"] {
    border-radius: 50px;
    outline:none;
    padding:10px;
    width:95%;
    margin-bottom: 10px;
}

.login form .func {
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

.login form .func .remember {
    color:#313A46;
    display: flex;
    align-items: center;
}

.login form .func .remember label {
    margin-left: 5px;
}

.login form .func .forget:hover{
    color:#151617;
    cursor: pointer;
    transition: 0.5s all ease;
}

.login form button {
    text-align: center;
    border:none;
    padding:10px 0;
    color:white;
    border-radius: 50px;
    background-color: #008C91;
    width:30%;
    margin-top: 20px;
}

.login form button:hover{
    cursor: pointer;
    background-color: #0e5c5f;
    transition: 0.5s all ease;
}

/* Responsive */
@media all and (max-width:1199.98px){
    .login form .func .forget {
        font-size: 13px;
    }

    .login form .func .remember {
        font-size: 13px;
    }

    .login form button {
        width:35%;
    }
} 
@media all and (max-width:991.98px){
    .login {
        width:50%;
    }
}
@media all and (max-width:767.98px){
    .login {
        width:70%;
    } 
}
@media (max-width:575.98px){
    .login {
        width:90%;
    } 

    .login form .func .forget {
        font-size: 10px;
    }

    .login form .func .remember {
        font-size: 10px;
    }
}
/* End Responsive */