.main .content .body {
    margin-top: 20px;
}

.main .content .body .order-detail .order-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .content .body .order-detail .order-first .order-info{
    background-color: #FFFFFF;
    padding:20px 30px;
    border-radius: 5px;
    width:44%;
}

.main .content .body .order-detail .order-first .order-info.dark{
    background-color: #3A434E; 
    transition: 0.2s all ease;
}

.main .content .body .order-detail .order-first .order-detail-info.dark{
    background-color: #3A434E; 
    transition: 0.2s all ease;
}

.main .content .body .order-detail .order-first .order-info .title {
    color:#90979E;
    margin-bottom: 20px;
}

.main .content .body .order-detail .order-first .order-info .detail-table table {
    width:100%;
    border-collapse: collapse;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr th {
    text-align: center;
    padding:15px 0;
    background-color: #EFF2F7;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr th:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr th:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr th.dark {
    background-color: #464F5B;
    color: #AAB8C5;
    transition: 0.2s all ease;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr td {
    text-align: center;
    padding:15px;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr td:nth-child(1){
    padding:0;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr td:nth-child(1) .desc.dark {
    color:white;
    transition: 0.2s all ease;
}

.main .content .body .order-detail .order-first.order-info .detail-table table tr td:last-child{
    padding-right:0 ;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr th:last-child{
    text-align: center;
    padding-left: 20px;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr td .desc {
    color:#313A46;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr td .content {
    color:#90979E;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr td .date {
    color:#90979E;
}

.main .content .body .order-detail .order-first .order-info .detail-table table tr td .name {
    color:#90979E;
}

.main .content .body .order-detail .order-first .order-detail-info{
    background-color: #FFFFFF;
    padding:20px 30px;
    border-radius: 5px;
    width:44%;
}

.main .content .body .order-detail .order-first .order-detail-info.dark{
    background-color: #3A434E; 
    transition: 0.2s all ease;
}

.main .content .body .order-detail .order-first .order-detail-info .title {
    color:#90979E;
    margin-bottom: 20px;
}

.main .content .body .order-detail .order-first .order-detail-info .detail-table table {
    width:100%;
    border-collapse: collapse;
}

.main .content .body .order-detail .order-first .order-detail-info .detail-table table tr th {
    text-align: center;
    padding:15px 0;
    background-color: #EFF2F7;
}

.main .content .body .order-detail .order-first .order-detail-info .detail-table table tr th:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main .content .body .order-detail .order-first .order-detail-info .detail-table table tr th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main .content .body .order-detail .order-first .order-detail-info .detail-table table tr th.dark {
    background-color: #464F5B;
    color: #AAB8C5;
    transition: 0.2s all ease;
}

.main .content .body .order-detail .order-first .order-detail-info .detail-table table tr td {
    text-align: center;
    padding:15px;
}

.main .content .body .order-detail .order-first .order-detail-info .detail-table table tr td:nth-child(1){
    padding:0;
}

.main .content .body .order-detail .order-first .order-detail-info .detail-table table tr td:nth-child(1) .desc.dark {
    color:white;
    transition: 0.2s all ease;
}

.main .content .body .order-detail .order-first.order-detail-info .detail-table table tr td:last-child{
    padding-right:0 ;
}

.main .content .body .order-detail .order-first .order-detail-info .detail-table table tr th:last-child{
    text-align: center;
    padding-left: 20px;
}

.main .content .body .order-detail .order-first .order-detail-info .detail-table table tr td .desc {
    color:#313A46;
}

.main .content .body .order-detail .order-first .order-detail-info .detail-table table tr td .price {
    color:#90979E;
}

.main .content .body .order-detail .order-title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #313A46;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Order Desc */
.main .content .body .order-detail .order-desc .order-detail-items{
    background-color: #FFFFFF;
    padding:20px 30px;
    border-radius: 5px;
}

.main .content .body .order-detail .order-desc .order-detail-items.dark{
    background-color: #3A434E; 
    transition: 0.2s all ease;
}

.main .content .body .order-detail .order-desc .order-detail-items .title {
    color:#90979E;
    margin-bottom: 20px;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table {
    width:100%;
    border-collapse: collapse;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr th {
    text-align: center;
    padding:15px 0;
    background-color: #EFF2F7;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr th:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr th.dark {
    background-color: #464F5B;
    color: #AAB8C5;
    transition: 0.2s all ease;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr td {
    text-align: center;
    padding:15px;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr td:nth-child(1){
    padding:0;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr td:last-child{
    padding-right:0 ;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr th:last-child{
    text-align: center;
    padding-left: 20px;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr td .item {
    color:#90979E;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr td .quantity {
    color:#90979E;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr td .price {
    color:#90979E;
}

.main .content .body .order-detail .order-desc .order-detail-items .order-table table tr td .total {
    color:#90979E;
}

/* End Order Desc */
/* End Order Detail */


/* Responsive */
@media all and (max-width:1285.60px){
    .main .content .body .order-detail .order-first .order-info {
        width:43%;
    }

    .main .content .body .order-detail .order-first .order-detail-info {
        width:43%;
    }
}

@media all and (max-width:1199.98px){
    .main .content .body .order-detail .order-first .order-info {
        width:42%;
    }

    .main .content .body .order-detail .order-first .order-detail-info {
        width:42%;
    }
}

@media all and (max-width:991.98px){
    .main .content .body .order-detail .order-first .order-info {
        width:40%;
    }

    .main .content .body .order-detail .order-first .order-detail-info {
        width:40%;
    }

    .main .content .body .order-detail .order-first .order-info .detail-table table tr td {
        font-size: 13px;
    }

    .main .content .body .order-detail .order-first .order-detail-info .detail-table table tr td {
        font-size: 13px;
    }

    .main .content .body .order-detail .order-first .order-info .detail-table table tr th {
        font-size: 14px;
    }

    .main .content .body .order-detail .order-first .order-detail-info .detail-table table tr th {
        font-size: 14px;
    }

    .main .content .body .order-detail .order-first .order-info .detail-table table tr th:last-child {
        padding-right: 20px;
    }

    .main .content .body .order-detail .order-first .order-detail-info .detail-table table tr th:last-child {
        padding-right: 20px;
    }

    .main .content .body .order-detail .order-desc .order-detail-items .order-table table tr th{
        font-size: 14px;
    }

    .main .content .body .order-detail .order-desc .order-detail-items .order-table table tr td{
        font-size: 13px;
    }
}
@media all and (max-width:767.98px){
    .main .content .body .order-detail .order-first {
        flex-wrap: wrap;
    }

    .main .content .body .order-detail .order-first .order-info {
        width:100%;
        margin-bottom: 10px;
    }

    .main .content .body .order-detail .order-first .order-detail-info {
        width:100%;
    }
}

@media (max-width:575.98px){
    .main .content .body .order-detail .order-desc .order-detail-items .order-table table tr th {
        font-size: 12px;
    }

    .main .content .body .order-detail .order-desc .order-detail-items .order-table table tr td {
        font-size: 11px;
    }

    .main .content .body .order-detail .order-desc .order-detail-items .order-table table tr th:last-child {
        padding-left: 0;
    }

    .main .content .body .order-detail .order-desc .order-detail-items .order-table table tr td:last-child {
        padding-left: 0;
    }

    .main .content .body .order-detail .order-first .order-info .detail-table table tr td {
        font-size: 11px;
    }

    .main .content .body .order-detail .order-first .order-detail-info .detail-table table tr td {
        font-size: 11px;
    }

    .main .content .body .order-detail .order-first .order-info .detail-table table tr th {
        font-size: 12px;
    }

    .main .content .body .order-detail .order-first .order-detail-info .detail-table table tr th {
        font-size: 12px;
    }
}

/* End Responsive */